<footer class="footer">
  <small>
    InstaTwit by the miracle of the internet.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="google.com">News</a></li>
    </ul>
  </nav>
</footer>